.infoList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.infoItem {
  padding: var(--spacing-2) 0;
  color: var(--color-text);
  position: relative;
  padding-left: var(--spacing-5);
  line-height: 1.5;
  margin-bottom: var(--spacing-3);
}

.infoItem::before {
  content: '';
  position: absolute;
  left: 0;
  top: 11px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-primary);
}
